
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>控制器</title>
</head>
<body>

    <div ng-app="myApp" ng-controller="personCtrl">
        名<input type="text" name="" ng-model="firstName"><br>
        姓<input type="text" name="" ng-model="lastName"><br>
        <br>

        姓名: {{firstName + "  " + lastName}}<br>
        姓名: {{fullName()}}
    </div>


<script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>

    <!-- 可以将下列文件另存为其它的控制器 -->
    <script src="personController.js"></script>
    
    
</body>
</html>